*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
    font-family: "Delius Swash Caps" ,"Roboto flex", "Poiret One", Mulish, serif;
    scroll-behavior: smooth;
    scroll-padding-top: var(--altura-header);
}
:root{
    --altura-header: 80px;
    --negro: #181818;
    --soft-negro: #272727;
    --soft-rosa: pink;
    --rosa: #ff9faf;
    --fucsia: rgb(255, 98, 124);
    --rosa-chillon: rgb(255, 55, 88);
    --blanco: rgb(255, 244, 250);
}
body{
    background-color: var(--soft-negro);
    color: var(--blanco);
}
header{
    min-height: var(--altura-header);
    color: var(--soft-rosa);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.8em;
    border-bottom: 1.5px solid pink;
    position: sticky;
    z-index: 3;
    width: 100%;
    top: 0;
    .h1{
        color: var(--soft-rosa);
    }
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    min-height: 100dvh;
    padding: 10%;
}
section:not(:first-of-type){
    padding: 20% 10%;
}
@media (min-width: 1440px){
    section{
        padding: 15%;
    }
}
li{
    list-style: none;
}
li:hover{
    animation: bounce 2s ease-in-out infinite;
    color: white;
}
a{
    text-decoration: none;
    color: var(--fucsia);
}
a:hover{
    color: var(--soft-rosa);
}

/* TEXTOS */

h1{
    font-size: 1.7em;
}
h2{
    font-size: 3.5em;
}
h3{
    font-size: 2.5em;
}
h3.underline{
    display: inline-block;
    margin: 0 auto;
}
h4{
    font-size: 1.5em;
}
p{
    font-size: 1.2em;
    font-family: "Edu NSW ACT Hand Pre";
}

@media (min-width: 768px) {
    h1{
        font-size: 2.5em;
    }
    h3{
    font-size: 4em;
    }
    p{
        font-size: 2em;
    }
}
@media (min-width: 1024px) {
    .navbar{
        font-size: 1.3em;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 4em;
    }
    p{
        font-size: 2em;
    }
}
@media (min-width: 1440px) {
    .navbar{
        font-size: 1.8em;
    }
}
@media (min-width: 2560px) {
    h1{
        font-size: 5em;
    }
    h2{
        font-size: 10em;
    }
    h4{
        font-size: 2em;
    }
    p{
        font-size: 3.5em;
    }
    ul.navbar{
        font-size: 3em;
    }
}

/* COLOR FONDOS */

header, .navbar, #sobre-mi, #proyectos, #contacto, footer{
    background-color: var(--negro);
}

/* MENU HAMBURGUESA */

.menu-hamburguesa, .icono-hamburguesa .icono-cerrar{
    display: none;
}
.menu-hamburguesa:checked ~ .navbar{
    height: calc(100% - var(--altura-header));
}
.menu-hamburguesa:checked + .icono-hamburguesa .icono-abrir{
    display: none;
}
.menu-hamburguesa:checked + .icono-hamburguesa .icono-cerrar{
    display: inline;
}
.navbar{
    width: 100%;
    position: fixed;
    top: var(--altura-header);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size:
    3em;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 1;
}
@media (min-width: 768px) {
    header{
        flex-direction: column;
        gap: 0.8em;
        height: auto;
    }
    .icono-hamburguesa{
        display: none;
    }
    .navbar{
        position: static;
        width: auto;
        flex-direction: row;
        font-size: 1.5rem;
        height: var(--altura-header);
        background-color: transparent;
        gap: 0.9em;
        height: auto;
    }
}
@media (min-width: 1024px) {
    header{
        flex-direction: row;
    }
    .hero{
        padding: 20%;
    }
    .navbar{
        gap: 0.4em;
    }
}
@media (min-width: 1440px) {
    .navbar{
        gap: 0.8em;
    }
}
@media (min-width: 2560px){
    .navbar{
        gap: 1em;
    }
    header{
        padding: 20px 2%;
    }
}

/* ANIMACIÓN UNDERLINE */

.underline, .blinking{
    display: inline-block;
    position: relative;
}
.underline::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--rosa);
    transform: scaleX(0);
    transition: all 0.6s ease;
}
.underline:hover::after{
    transform: scaleX(1);
}

/* ANIMACIÓN BLINKING */
.blinking{
    transition: all 0.1s ease-in-out ;
}
.blinking::after{
    content: "";
    position: absolute;
    margin-left: 5px;
    width: 1px;
    height: 90%;
    top: 0;
    background-color: var(--rosa);
    animation: blinking 2s linear infinite;
}
@keyframes blinking{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* SECCIÓN INICIO */

.hero{
color: var(--soft-rosa);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
text-align: center;
}
h2{
    color: var(--rosa-chillon);
}
.texto-secundario{
    color: var(--fucsia);
    font-size: 2.5em;
}
@media (min-width: 1024px){
    .hero{
        align-items: flex-start;
        text-align: justify;
    }
}
@media (min-width: 2560px){
    .hero{
        align-items: flex-start;
    }
    .texto-secundario{
        font-size: 7em;
    }
}

/* SECCIÓN SOBRE MI */

#sobre-mi, #proyectos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
h3{
    color: var(--rosa-chillon);
}
.sobre-mi-visual{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.foto-cv{
    width: 100%;
    border-radius: 15px;
}
.sobre-mi-texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 90%;
}
@media (min-width: 768px){
    .sobre-mi-visual{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .sobre-mi-texto{
        font-size: 0.8em;
    }
}
@media (min-width: 1024px){
    #sobre-mi{
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .sobre-mi-texto{
        font-size: 0.6em;
        width: 60%;
    }
    .sobre-mi-visual{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    .foto-cv{
        max-width: 400px;
        z-index: 2;
    }
    h3{
        font-size: 5em;
    }
}
@media(min-width: 1440px){
    .sobre-mi-texto{
        font-size: 0.7em;
    }
}
@media(min-width: 2560px){
    .sobre-mi-texto{
        font-size: 0.6em;
    }
    .sobre-mi-visual{
        gap: 200px;
    }
    h3{
        font-size: 6em;
    }
    .foto-cv{
        max-width: 600px;
    }
}

/* ANIMACIÓN BORDE FOTO */

.recuadro-foto-cv{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    position: relative;
    z-index: 0;
    margin: auto;
}
@media (min-width: 1440px){
    .recuadro-foto-cv{
        max-width: 400px;
    }
    
}
@media (min-width: 2560px){
    .recuadro-foto-cv{
        max-width: 600px;
    }
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.recuadro-foto-cv::after, .recuadro-foto-cv::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 20%, var(--rosa-chillon));
    padding: 5px;
    border-radius: 15px;
    z-index: -1;
    animation: spin 3s linear infinite;
}
.recuadro-foto-cv::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle:360deg;
    }
}

/* HABILIDADES */

#habilidades{
    background-color: var(--soft-negro);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#habilidades h3{
    color: var(--fucsia);
}
.contenedor-lenguajes{
    display: flex;
    font-size: 5em;
    justify-content: space-evenly;
    margin-top: 1em;
    flex-wrap: wrap;
    gap: 10px;
}
.contenedor-lenguajes i{
    color: var(--rosa);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}
i:hover{
    transform: scale(1.5);
    position: relative;
    .tooltip{
        display: block;
    }
}
.tooltip{
    display: none;
    font-size: 0.2em;
    position: absolute;
    background-color: var(--negro);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
    top:5em;
    border: 2px solid var(--fucsia);
    z-index: 1;
    animation: bounce 3s ease infinite;
}
.tooltip::after{
    content: "";
    position: absolute;
    bottom: 100%;
    margin-left: -60%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent var(--fucsia) transparent;
}

@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15%)
    }
    100%{
        transform: translateY(0%);
    }
}

@media(min-width:768px){
    .contenedor-lenguajes{
        justify-content: center;
    }
    .contenedor-lenguajes{
        font-size: 8em;
    }
}
@media(min-width:2560px){
    .contenedor-lenguajes{
        font-size: 15em;
    }
}

/* PROYECTOS */

#proyectos{
    background-color: var(negro);
    padding: 10%;
}
#proyectos img{
    width: 100%;
    height: auto;
}
h4{
    width: 100%;
    padding: 8px 0;
    background-color: var(--soft-negro);
    color: var(--rosa);
    margin: auto;
}
h4:hover{
    color: var(--soft-rosa);
}
.wrapper{
    display: flex;
    width: 100%;
    height: 250px;
    gap: 20PX;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 5px;
    scroll-snap-type: x mandatory;
    flex-shrink: 0;
    border: 3px solid var(--rosa);
}
.card{
    scroll-snap-align: center;
    width: 100%;
    height: 200px;
    flex-shrink: 0;
}
@media (min-width:768px){
    .wrapper{
    width: 100%;
    justify-content: center;
    height: auto;
    padding: 7% 0;
    flex-wrap: wrap;
    overflow: hidden;
    border: none;
    }
    .card{
        width: 40%;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        border: 3px solid var(--rosa);
    }
    .card:hover{
        transform: rotate(3deg) scale(1.3);
        transition: all 0.4s ease;
        z-index: 1;
        box-shadow: 0 0 10px white;
    }
    #proyectos p{
        display: none;
    }
}
@media (min-width:1024px){
    #proyectos{
        display: flex;
        flex-direction: row-reverse;
        gap: 0;
    }
    .titulo-seccion{
        flex-grow: 1;
    }
    .wrapper{
        width: 65%;
        flex-grow: 2;
    }
    .card{
        width: 40%;
        height: 180px;
        overflow: hidden;
    }
    #proyectos img{
        height:fit-content;
    }
}
@media (min-width:1440px){
    #proyectos{
        display: flex;
        flex-direction: row-reverse;
        gap: 0;
    }
    .titulo-seccion{
        flex-grow: 1;
    }
    .wrapper{
        width: 70%;
        gap: 30px;
    }
    .card{
        width: 25%;
        height: 200px;
    }
    h4{
        padding: 10px;
    }
}
@media (min-width:2560px){
    .card{
        width: 25%;
        height: 300px;
    }
    h4{
        padding: 20px;
    }
}

/* SECCIÓN CERTIFICADOS */

#certificados{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    img{
        width: 100%;
        max-width: 1024px;
    }
}
#certificados h3{
    color: var(--fucsia);
}

/* SECCIÓN CONTACTO */

#contacto{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}
.contenedor-redes i{
    font-size: 2.5em;
    transition: all 0.3s ease;
    color: var(--rosa);
    display: flex;
    justify-content: center;
}
.contenedor-redes{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 15%;
}
.bounce{
    animation: bounce 3s ease infinite;
}
@media(min-width:768px){
    .contenedor-redes i{
    font-size: 5em;
    }
}
@media(min-width:2560px){
    #contacto h2{
        font-size: 5em;
    }
    .contenedor-redes i{
    font-size: 10em;
    }
}

/* FOOTER */

footer{
    text-align: center;
    padding: 1em 2em;
    font-size: 0.8em;
    border-top: 1.5px solid pink;
}